# =========================
# Dataset
# =========================

data/raw/
data/processed/


# =========================
# Personal notebooks
# =========================

YL-读代码.ipynb


# =========================
# PyCharm
# =========================

.idea/


# =========================
# Python
# =========================

__pycache__/
*.pyc


# =========================
# Jupyter
# =========================

.ipynb_checkpoints/


# =========================
# macOS
# =========================

.DS_Store